<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../assets/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../assets/css/pattern.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../assets/css/devis.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">

</head>

<body>
<div class="row">
    <div class="col s2 my_side_nav white">
        <ul class="row">
            <li class="inline mark_border">
                <h2 class="mark"><img class="size_5" src="../assets/logo/logo_wine.png">Wine'op</h2>
            </li>
            <li class="col s12 center">
                <a href="./estimation.html" class="waves-effect waves-light btn width_button">Estimation</a>
            </li>
            <li class="col s12 center">
                <a href="./devis.html" class="waves-effect waves-light btn width_button">Devis</a>
            </li>
        </ul>
    </div>
    <div class="col s10 padding_null">
        <ul id="myprofile" class="dropdown-content">
            <li><a href="#!">Mon profil</a></li>
            <li><a href="#!">Paramètres</a></li>
            <li class="divider"></li>
            <li><a href="./index.html">Déconnexion</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper red accent-2">
                <ul>
                    <li class="main_title">Devis </li>
                </ul>
                <ul class="right">
                    <li><img class="circle user_img" src="../assets/img/Accord-G-Sol-majeur-variante.png"></li>
                    <li><a class="dropdown-button" href="#!" data-activates="myprofile">Profile
                        <i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <section id="main_content" class="main_part overflow">
            <ul class="tabs ; tabs-fixed-width">
                <li class="tab col s3"><a class="active" href="#manuel">Information devis</a></li>
                <li class="tab col s3"><a href="#telecharger">Télécharger un fichier</a></li>
            </ul>
            <div id="manuel" class="col s12">
                <br/>
                <br/>
                <div class="col s5">
                    <form>
                        <h5 align="center"> Informations expéditeur</h5>
                        <br/>
                        <div align="center">
                            <div class="input-field col s6">
                                <input value="John Doe" type="text" class="validate">
                                <label>Nom :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input value="Wine Inc." type="text" class="validate">
                                <label>Société :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input value="13 rue de Verdun"type="text" class="validate">
                                <label>Adresse :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input value="68000"type="text" class="validate">
                                <label>Code postale :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input value="Colmar" type="text" class="validate">
                                <label>Ville :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input placeholder="18"type="text" class="validate">
                                <label>Nombre de bouteilles :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input placeholder="1" type="text" class="validate">
                                <label>Nombre de colis :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input placeholder="32"type="text" class="validate">
                                <label>Poids net en Kg :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input placeholder="2204109300"type="text" class="validate">
                                <label>Numéro tarifaire du SH :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input placeholder=""type="text" class="validate">
                                <label>Transporteur:</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input placeholder=""type="text" class="validate">
                                <label>Frais de ports en € :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input placeholder=""type="text" class="validate">
                                <label>Prix total en € :</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s1">
                </div>
                <div class="col s5">
                    <form>
                        <h5 align="center">Informations destinataire</h5>
                        <br/>
                        <div align="center">
                            <div class="input-field col s6">
                                <input type="text" class="validate">
                                <label>Nom :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input type="text" class="validate">
                                <label>Société :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input type="text" class="validate">
                                <label>Adresse :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input type="text" class="validate">
                                <label>Code postale :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input type="text" class="validate">
                                <label>Ville :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input type="text" class="validate">
                                <label>Pays :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input type="text" class="validate">
                                <label>TVA :</label>
                            </div>
                        </div>
                        <div align="center">
                            <div class="input-field col s6">
                                <input type="text" class="validate">
                                <label>Taxe d'import :</label>
                            </div>
                        </div>
                    </form>
                    <a href="./recap.html" class='col s4 btn btn-large waves-effect red accent-4'>Valider</a>
                </div>
            </div>
            <div id="telecharger" class="col s12">
                <div class="zone">
                    <p class="center-text">Glisser votre fichier ici</p>
                </div>
                <form action="#">
                    <div class="file-field input-field; bord">
                        <div class="btn">
                            <span>Rechercher fichier</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../assets/javascript/materialize.min.js"></script>
<script type="text/javascript" src="../assets/javascript/pattern.js"></script>
</body>
</html>
