<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../assets/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../assets/css/pattern.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../assets/css/estimation.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="row">
    <div class="col s2 my_side_nav white">
        <ul class="row">
            <li>

            </li>
            <li class="col s12 center">
                <a href="./estimation.html" class="waves-effect waves-light btn width_button">Estimation</a>
            </li>
            <li class="col s12 center">
                <a href="./devis.html" class="waves-effect waves-light btn width_button">Devis</a>
            </li>
        </ul>
    </div>
    <div class="col s10 padding_null">
        <ul id="myprofile" class="dropdown-content">
            <li><a href="#!">Mon profil</a></li>
            <li><a href="#!">Paramètres</a></li>
            <li class="divider"></li>
            <li><a href="#!">Déconnexion</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper red accent-2">
                <ul>
                    <li class="main_title">Estimation...</li>
                </ul>
                <ul class="right">
                    <li><img class="circle user_img" src="../assets/img/Accord-G-Sol-majeur-variante.png"></li>
                    <li><a class="dropdown-button" href="#!" data-activates="myprofile">Profile
                        <i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <section id="main_content">

            <div class="row">
                <form class="col s6 padding_top_3">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="FRANCE" id="pays" type="text" class="validate">
                            <label for="pays">Pays de destination:</label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="COLMAR" id="ville" type="text" class="validate">
                            <label for="ville">Ville:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="0" id="nbr_bouteilles" type="number" class="validate">
                            <label for="nbr_bouteilles">Nombres de bouteilles:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="0" id="nbr_colis" type="number" class="validate">
                            <label for="nbr_colis">Nombres de colis:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="0" id="valeur" type="number" class="validate">
                            <label for="valeur">Valeur en €:</label>
                        </div>
                    </div>
                </form>
                <div class="col s6" id="simulation">
                    <div class="row">
                        <div class="col s12">
                            <div class="card small" style="height: 200px">
                                <div class="card-image">
                                    <img src="http://www.groupement-transport.lu/2010/groupement-transports/wp-content/uploads/2011/05/DHL-Logo.png">
                                    <span class="card-title black-text">DHL</span>
                                </div>
                                <div class="card-content" style="padding: 0 0 0 1rem">
                                    <h4 class="col s6">55 €</h4>
                                    <a class="red-text accent-4 right-align"><h5 class="col s6 see">Voir l'offre</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="card small" style="height: 200px">
                                <div class="card-image">
                                    <img src="../assets/img/Fedex_logo.jpg">
                                    <span class="card-title black-text">Fedex</span>
                                </div>
                                <div class="card-content" style="padding: 0 0 0 1rem">
                                    <h4 class="col s6">54 €</h4>
                                    <a class="red-text accent-4 right-align"><h5 class="col s6 see">Voir l'offre</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="card small" style="height: 200px">
                                <div class="card-image">
                                    <img src="../assets/img/Colissimo_logo.png" style="top: -7rem">
                                    <span class="card-title black-text">Colissimo</span>
                                </div>
                                <div class="card-content" style="padding: 0 0 0 1rem">
                                    <h4 class="col s6">49 €</h4>
                                    <a class="red-text accent-4 right-align"><h5 class="col s6 see">Voir l'offre</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../assets/javascript/materialize.min.js"></script>
<script type="text/javascript" src="../assets/javascript/pattern.js"></script>
</body>
</html>
