.small{
	margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.card-content{
	padding-top: 0 !important;
}


.card-image > img {
    top: -2rem;
}

#simulation{
	height: 100%;
	box-shadow:
			0 2px 2px 0 rgba(0,0,0,0.14),
			0 1px 5px 0 rgba(0,0,0,0.12),
			0 3px 1px -2px rgba(0,0,0,0.2);
}

.see{
	margin-top: 1rem;
}

.see:hover{
	text-decoration: underline;
	cursor: hand;
}

.padding_top_3{
    padding-top: 3rem !important;
}

label{
    font: normal 16px courier !important;
}
