@font-face {
    font-family: "Wine Date";
    src: url('../fonts/WineDate-Regular.ttf');
}

.overflow {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

body
{
    overflow: hidden;
}

.padding_null {
    padding : 0 0 0 0 !important;
}

.my_side_nav{
    height: 100%;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,0.14),
            0 1px 5px 0 rgba(0,0,0,0.12),
            0 3px 1px -2px rgba(0,0,0,0.2);
}

.user_img {
    width: 4rem;
    padding-top: 3px;
}

.width_button{
    width: 100%;
}

.my_side_nav > ul > li {
    margin-bottom: 5rem;
}

.main_title {
    font-family: "Wine Date";
    font-size: 3rem;
    padding-left: 0.5rem;
}

.size_5{
    width: 5rem;
}

.mark {
    font-family: "Wine Date";
    font-size: 4rem;
    padding-left: 0.5rem;
    margin-top: 0;
}

.mark_border {
    border-bottom: 1px solid #ff5252 !important;
}